{% extends "base.html"%}{% load static %}{% block content %}

<section class="about_head">
    <div class="about_title">
        <h1>we are <span>think tech inc.</span></h1>
        <img src="{% static 'images/showcase1.png' %}" alt="image">
    </div>
</section>

<section class="about">
    <div class="about_us">
        <img src="{% static 'images/showcase.png' %}" alt="image">
        <div class="about_us_box">
            <h2>about us</h2>
            <p>Think Tech Inc. is a Pan-African online Freelance Talent Marketplace headquartered in Addis Ababa, Ethiopia. The company aims to become an active contributor to Africa’s digital transformation and build a booming Africa through leveraging
                continental and global job opportunities for African talent.</p>
            <p>Think Tech’s network of highly skilled, certified, and multilingual African talent on a digital platform services clients across the globe. Gebeya’s vision is of an Africa equipped with a competitive skilled workforce, and a greater number
                of innovative startups that will drive digital transformation.</p>
        </div>
    </div>
</section>

<section class="core_values">
    <div class="values">
        <h2>our core <span>values</span></h2>
        <div class="value_box">
            <img src="{% static 'images/assembly.png' %}" alt="">
            <div class="box">
                <h3>humility in good company</h3>
                <p>We leverage our expertise to help companies solve complex problems. We need your brain, not your ego.</p>
            </div>
        </div>
        <div class="value_box">
            <img src="{% static 'images/study.png' %}" alt="">
            <div class="box">
                <h3>
                    Be the outcome you seek
                </h3>
                <p>We source the best talent in Africa to transform our customers’ challenges into opportunities.</p>
            </div>
        </div>
        <div class="value_box">
            <img src="{% static 'images/door-to-door.png' %}" alt="">
            <div class="box">
                <h3>Wow The Customer</h3>
                <p>From the first interaction to the final product, the customer is at the core of every action we take.</p>
            </div>
        </div>
        <div class="value_box">
            <img src="{% static 'images/collaboration.png' %}" alt="">
            <div class="box">
                <h3>
                    Work Smarter
                </h3>
                <p>We are at the forefront of digital transformation in Africa. For everyone at Think tech: work has no boundary, no location, no physical limit.</p>
            </div>
        </div>
        <div class="value_box">
            <img src="{% static 'images/transmission.png' %}" alt="">
            <div class="box">
                <h3>Innovate With Humanity</h3>
                <p>We are a people company. We offer an environment centered around transparency, respect, and dignity, where each individual is challenged to reach their full potential.</p>
            </div>
        </div>
    </div>
</section>
<section class="vision_mission">
    <div class="vision">
        <div class="vision_box">
            <img src="{% static 'images/teamwork (1).png' %}" alt="">
            <div class="box">
                <img src="{% static 'images/success.png' %}" alt="">
                <h3>the mission</h3>
            </div>
            <p>Our Mission is to be THE trusted marketplace for customers and talent. The best part is, we have a track record:</p>
            <ul>
                <li>We provide easy and seamless access to the best talents through a digital platform accessible globally.</li>
                <li>We enable superior execution and effective delivery through team augmentation and remote working.</li>
                <li>We use breakthrough technology to curate the best talents for our clients to yield the best outcome.</li>
                <li>Customers trust us with the future of their businesses, year after year.</li>
            </ul>
        </div>
        <div class="vision_box">
            <div class="box">
                <img src="{% static 'images/teamwork.png' %}" alt="">
                <h3>our vision</h3>
            </div>
            <p>To be the most trusted and reliable source of talent that showcases Africa’s competitiveness. We commit to deliver exceptional value to our customers by offering skilled talent with the right mindset, attitude, and integrity.</p>
            <div class="box">
                <img src="{% static 'images/diversity.png' %}" alt="">
                <h3>the culture</h3>
            </div>
            <p>Our company culture is the reflection of our core values. It is the motivation to surpass any challenge and the reason to celebrate every victory. ​Here at Think Tech, the extraordinarily diversified group of people are key for the company’s
                success. But when you put a group of people from all walks of life in one room, it can get a bit hectic sometimes.</p>

            <p>So how do we do it? We value collaboration. Through open communication, trust and the recognition of each other’s abilities, we win as a team. Confidence is the indispensable tool to achieve our vision.</p>

            <p>It is in the way we meet challenges head on, in the way we acknowledge the things we don’t have the answers to and in the bold risks we take to truly make a difference. True dedication​ brings job satisfaction. We have great people in our
                company that approach everything with passion. It’s this passion for what we do that is the fuel that keeps us running</p>
        </div>

    </div>
</section>

<section class="team">
    <div class="team_intro">
        <div class="intro_box">
            <img src="{% static 'images/team.png' %}" alt="">
            <h2>meet the <span>team</span></h2>
        </div>
        <p>Think Tech’s Executive Team has more than a decade of in-depth experience in the African digital space. Seventy percent of the leadership team is composed of North American and European African diaspora returning home to the continent. This mixture
            of proven, talented, local African managers and globally-trained leaders gives Think Tech a clear advantage in the African context of doing business. Think Tech’s senior management developed and implemented tactical objectives, and navigated
            expansion from Ethiopia, Kenya, and Senegal in only 3 years of operation.</p>
    </div>
</section>
<section class="team_members">
    <h2>executive team</h2>
    <div class="executive">
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/elegant-man-suit.jpg' %}" alt="">
            </div>
            <h3>amodou daffe</h3>
            <p>CEO/Co-founder</p>
        </div>
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/man1.jpg' %}" alt="">
            </div>
            <h3>leul girma</h3>
            <p>COO</p>
        </div>
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/businesswoman.jpg' %}" alt="">
            </div>
            <h3>mahlet tamene</h3>
            <p>CPO</p>
        </div>
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/man2.jpg' %}" alt="">
            </div>
            <h3>thierno niang</h3>
            <p>CFO</p>
        </div>
    </div>
    <h2>directors</h2>
    <div class="directors">

        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/woman1.jpg' %}" alt="">
            </div>
            <h3>becky tsadik</h3>
            <p>Co-founder/Board Member</p>
        </div>
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/woman.jpg' %}" alt="">
            </div>
            <h3>menna tafesse</h3>
            <p>Board member</p>
        </div>
        <div class="member_box">
            <div class="img_box">
                <img src="{% static 'images/man3.jpg' %}" alt="">
            </div>
            <h3>mobolaji adeoye</h3>
            <p>Board Member</p>
        </div>
    </div>
</section>


<section class="service">
    <div class="service-links">
        <div class="work">
            <h2><i class="fa-sharp fa-solid fa-magnifying-glass"></i> find work</h2>
            <ul>
                <li>
                    <a href="">download think tech app</a>
                </li>
                <li>
                    <a href="">join as a partner</a>
                </li>
                <li>
                    <a href="">how it works</a>
                </li>
                <li>
                    <a href="">login</a>
                </li>
            </ul>
        </div>
        <div class="hire">
            <h2><i class="fa-solid fa-handshake"></i> hire</h2>
            <ul>
                <li>
                    <a href="">how it works</a>
                </li>
                <li>
                    <a href="">find freelancers</a>
                </li>
                <li>
                    <a href="">hire a company</a>
                </li>
                <li>
                    <a href="">sign up</a>
                </li>
            </ul>
        </div>
        <div class="think-tech">
            <h2><i class="fa-solid fa-building"></i> think tech</h2>
            <ul>
                <li>
                    <a href="{% url 'about' %}">about us</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contact us</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">news</a>
                </li>
                <li>
                    <a href="{% url 'careers' %}">careers</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}