{% extends "base.html"%}{% load static %}{% block content %}

<section class="career_head">

    <div class="career_title">
        <h1>careers</h1>
        <h3>browse and apply for jobs</h3>
        <p>Join an exceptional Pan-African team with the right mindset, attitude, and integrity, trusted by startups and multinationals alike.</p>
    </div>

</section>

<section class="browse_jobs">


    <div class="jobs">
        <div class="jobs_categories">
            <h2>careers</h2>
            <h3>engineering</h3>
            <ul>
                <li><a href="">Senior Application Developer (On-site, Nairobi) - Nov '22</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Intermediate Application Developer</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Solution Architect (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">DevOps Engineer (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Android Developer (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Software Architect (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">iOS Developer (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">UI/UX Designers (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Back-end Developer (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">API Developer (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Access Network Team Lead (On-site, Victoria Island, Nigeria)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">QA Engineers (On-site, Nairobi)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Data Engineers (On-site)</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Full-Stack Web Application Developer</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Senior Back-end Web Application Developer</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Front-End Developer</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Senior Scrum Master</a> <i class="fa-solid fa-arrow-right"></i></li>
            </ul>
            <h3>business</h3>
            <ul>
                <li><a href="">Senior Business Architect</a> <i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Intermediate Business Analyst</a> <i class="fa-solid fa-arrow-right"></i></li>
            </ul>
        </div>
        <div class="side-bar">
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Try Jobs, Talent..">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
            <h2>categories</h2>
            <ul>
                <li><a href="">africa</a></li>
                <li><a href="">announcements</a></li>
                <li><a href="">blogs</a></li>
                <li><a href="">covid-19</a></li>
                <li><a href="">events</a></li>
                <li><a href="">jobs</a></li>
                <li><a href="">latest news</a></li>
                <li><a href="">must-read</a></li>
                <li><a href="">software developers</a></li>
                <li><a href="">talent</a></li>
                <li><a href="">talent wars</a></li>
                <li><a href="">training</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="get_hired">
    <div class="hired_box">
        <div class="hire_data">
            <h3>are you talented?</h3>
            <h1>Get hired for lucrative</h1>
            <h2>projects from top companies.</h2>
            <p>Join a diverse, curated network of top-notch experts, and access remote and freelance projects from high-paying businesses, cutting-edge startups, and global corporations.</p>
            <div class="hire_instruction">
                <div class="hire_steps">
                    <div class="steps_box">
                        <img src="{% static 'images/application.png' %}" alt="">
                        <h3>Submit your Application</h3>
                    </div>
                    <p>Complete your application with work experience and statement of interest.</p>
                </div>
                <div class="hire_steps">
                    <div class="steps_box">
                        <img src="{% static 'images/test.png' %}" alt="">
                        <h3>Complete Test And Interview</h3>
                    </div>
                    <p>Pass skills tests and interview with a Subject Matter Expert to qualify.</p>
                </div>
                <div class="hire_steps">
                    <div class="steps_box">
                        <img src="{% static 'images/teams.png' %}" alt="">
                        <h3>Join and Get Onboarded</h3>
                    </div>
                    <p>Upon acceptance, review your orientation kit, attend a webinar, and join the talent community.</p>
                </div>
            </div>
            <div class="app_stores">
                <img src="{% static 'images/apple-store.svg'%}" alt="">
                <img src="{% static 'images/google-play.svg' %}" alt="">
            </div>
        </div>
        <img src="{% static 'images/join-us.png' %}" alt="">
    </div>
</section>
<section class="service">
    <div class="service-links">
        <div class="work">
            <h2><i class="fa-sharp fa-solid fa-magnifying-glass"></i> find work</h2>
            <ul>
                <li>
                    <a href="">download think tech app</a>
                </li>
                <li>
                    <a href="">join as a partner</a>
                </li>
                <li>
                    <a href="">how it works</a>
                </li>
                <li>
                    <a href="">login</a>
                </li>
            </ul>
        </div>
        <div class="hire">
            <h2><i class="fa-solid fa-handshake"></i> hire</h2>
            <ul>
                <li>
                    <a href="">how it works</a>
                </li>
                <li>
                    <a href="">find freelancers</a>
                </li>
                <li>
                    <a href="">hire a company</a>
                </li>
                <li>
                    <a href="">sign up</a>
                </li>
            </ul>
        </div>
        <div class="think-tech">
            <h2><i class="fa-solid fa-building"></i> think tech</h2>
            <ul>
                <li>
                    <a href="{% url 'about' %}">about us</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contact us</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">news</a>
                </li>
                <li>
                    <a href="{% url 'careers' %}">careers</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}