{% extends "base.html" %}{% load static %}{% block content %}

<section class="client-container">
    <h1>why choose think tech marketplace</h1>
    <div class="client_intro">
        <div class="client_boxes">
            <div class="t_box_transparent">
                <h2>An Expert Team, Invested in Your Success</h2>
                <p>Think Tech is a platform powered by talent, supported by an expert team from across Africa. Backed by four years of on-the-ground experience across the continent, we’re committed to delivering solutions that will elevate your business
                    to its full potential.</p>
            </div>
            <div class="t_box_orange">
                <h2>Multilingual, Multinational, Multiskilled</h2>
                <p>Our talent and team are experienced in serving a global clientele. Therefore, effective communication is at the core of our priorities. Choose if you’d like to work with talent in French, Kiswahili, or Amharic. All are tested and vetted
                    for English.
                </p>
            </div>
            <div class="t_box_green">
                <h2>Competitive Pricing, Superior Performance</h2>
                <p>Whether you’re a solo entrepreneur, a lean startup team, or a multinational corporation, we have solutions to cater to every budget. We never compromise quality for cost, and are committed to delivering our best. Your success is our pride.</p>
            </div>
            <div class="t_box_blue">
                <h2>Think Tech Guarantee</h2>
                <p>Encounter issues? Your dedicated Account Representative will resolve them promptly. We will replace a talent if you’re not fully satisfied with their performance. Our customers return to us, year after year. Let us be your one-stop talent
                    solution.
                </p>
            </div>
        </div>
        <div class="client_login">
            <div class="client_h2">
                <img src="{% static 'images/entrepeneur.png' %}" alt="">
                <h2>log in as a client</h2>
            </div>
            <hr>
            <p>Hire freelance talents for your short-term or long-term projects.</p>
            <div class="btn blue"><img src="{% static 'images/google.svg' %}" alt="">log in with google.</div>
            <div class="btn black"><img src="{% static 'images/apple3.png' %}" alt="">log in with apple</div>
            <div class="btn transparent"><img src="{% static 'images/microsoft.svg' %}" alt="">log in with microsoft</div>
            <p>or</p>
            <div class="btn purple">log in with your email address</div>
            <p>No account? <span>Sign Up</span></p>
            <p>Not a client? <span>Log in as a Talent</span></p>
            <p>&copy; All rights reserved by Think-Tech Inc.</p>


        </div>
    </div>
</section>

{% endblock %}