{% extends "base.html"%} {% load static %} {% block content %}

<section class="start_head">
    <div class="start_box">
        <div class="start_title">
            <h1>Easily Hire Talent</h1>
            <p>Access pre-vetted talents from the most trusted and reliable Pan-African Freelance Talent Marketplace that showcases Africa’s competitiveness. Think Tech’s network of highly skilled, certified, and multilingual African talent on a digital
                platform services clients across the globe. Easily and seamlessly access the best talents through a digital platform globally.</p>
            <h3>discover talents here</h3>
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Try Java, Software Dev..">
                <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
           </button>
            </form>
        </div>
    </div>
    <div class="youtube-intro">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SUpq7oz1Hxg" frameborder="0" allowfullscreen></iframe>
    </div>

</section>

<section class="search_container">
    <div class="search_box">
        <img src="{% static 'images/laptop3.png' %}" alt="">
        <div class="search_form">
            <h1>Search and Hire Full-time Staff or Freelancers</h1>
            <p>Easily hire talent for your short-term or long-term projects. </p>
            <ul>
                <li>Search and instantly get matched with candidates that meet your specifications and budget.</li>
                <li>Schedule an interview with the talent and hire them. Sign a contract that details the project scope and get started.</li>
                <li>Our talents are remote-ready, fluent in collaborative tools, and available for your entire project. Our multilingual and multinational professional staff will also be available at any time to support you.</li>
            </ul>
            <button class="btn">Find Freelancer</button>
        </div>
    </div>
</section>

<section class="find_section">
    <div class="find_hire">
        <div class="find_box">
            <h1>Find and Hire Employees From our Vetted Talents</h1>
            <p>All Think Tech talents must meet rigorous standards for expertise, validated by testing and screening interviews. Our system automatically matches talents who meet your request specifications and budget. An Account Representative will be available
                to guide you through the process; and you can check the status of your request in your account at any time.</p>
            <h3>Search for Top Talents here</h3>
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Try Java, Software Dev..">
                <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
            </form>
        </div>
        <div class="youtube-intro">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pGKF2ewanW4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="hire-process">
        <h2>the hiring process</h2>
        <div class="process-box">

            <div class="box">
                <h3><i class="fa-solid fa-magnifying-glass"> </i> Search</h3>
                <p>Find the talent you need, in one quick search. Enter a query, then use easy checkboxes to filter for language, location, skill, and budget. Browse through results, then click the profiles that appeal to you to learn more.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-cart-shopping"></i> Select Candidates</h3>
                <p>After reviewing the talent profiles in detail, choose those that appeal to you most. Enter the details of your request, and our system will communicate your request directly to the talent automatically.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-users"></i> Interview</h3>
                <p>Choose the talents you would like to interview and meet virtually. Have full confidence in selecting talents who will deliver high-quality work and possess the right mindset, attitude, and integrity.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-file-contract"></i> Agreement</h3>
                <p>Our team will handle the entire contracting process, right through the platform. Encounter issues? Our dedicated customer support team will resolve them promptly. Our customers trust and return to us, year after year.</p>
            </div>

        </div>
    </div>
</section>
<section class="unlock_talent">
    <div class="unlock_box1">
        <div class="youtube-intro">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c8iyhBDN09E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="box1">
            <h1>Unlock the Best of African Talent</h1>
            <p>Think Tech is a platform powered by professional talent, supported by an expert Pan-African team. Elevate your business with pre-vetted individuals or teams to suit your budget, whether hourly or milestone-based. Hire on a freelance-basis,
                or for permanent, full-time staff.</p>
            <h3>search for top talent here</h3>
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Try Java, Software Dev..">
                <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
            </form>
        </div>
    </div>

    <div class="hire-process">
        <h2>the vetting process</h2>
        <div class="process-box">

            <div class="box">
                <h3><i class="fa-solid fa-magnifying-glass"> </i> Application review</h3>
                <p>Talents must submit a detailed application for a specific role, and share their skill sets, prior experience, and portfolio link, as relevant. Our team conducts an initial profile review to decide if they meet the criteria to proceed.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-cart-shopping"></i> Skills & English tests</h3>
                <p>All talents are subject to mandatory testing for their English-language proficiency, as well as timed, industry-standard skills tests to validate their expertise and level. Only upon passing will they proceed to the final stage.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-users"></i> Profile review by SME</h3>
                <p>
                    A subject-matter expert reviews the initial pre-vetted application, plus test results to get a well-rounded picture of the candidate, their proficiencies, and strengths. They ultimately decide their fit for a role and experience level.</p>
            </div>


            <div class="box">
                <h3><i class="fa-solid fa-file-contract"></i> Onboarding</h3>
                <p>
                    Those who successfully pass the three stages of vetting are invited to an onboarding session, where they review a new talent manual, hear from seasoned talents, and understand expectations and standards of the community.</p>
            </div>

        </div>
    </div>
</section>

<section class="brands">
    <div class="carousel">
        <h1>trusted partners</h1>
        <div class="carousel-container">
            <!-- <button class="carousel-prev">&#10094;</button> -->
            <div class="carousel-slide">
                <img src="{% static 'images/flutter.svg' %}" alt="Image 1">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/iroko.svg' %}" alt="Image 2">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/tek-air.svg '%}" alt="Image 3">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/javascript-1.svg' %}" alt="Image 4">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/food-network-1.svg' %}" alt="Image 5">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/air-france-11.svg' %}" alt="Image 6">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/premier-league-1.svg' %}" alt="Image 7">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/le-point.svg' %}" alt="Image 8">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/comcast-1.svg' %}" alt="Image 9">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/access-point.svg' %}" alt="Image 10">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/vengrowth.svg' %}" alt="Image 11">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/stormont-hotel.svg' %}" alt="Image 12">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/rosenthal-classic.svg' %}" alt="Image 13">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/bwt-racing-point-logo-1.svg' %}" alt="Image 14">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/experts-exchange-3.svg' %}" alt="Image 15">
            </div>
            <!-- <button class="carousel-next">&#10095;</button> -->
        </div>


    </div>
</section>

<section class="top_talent">
    <div class="hire_talent">
        <div class="talent_box">
            <h3>are you a talent?</h3>
            <h1>get hired for lucrative projects from top companies.</h1>
            <p>Join a diverse, curated network of professionals, and access remote and freelance projects from high-paying businesses, cutting-edge startups, and global corporations. Access added benefits like exclusive upskilling opportunities. Join as
                a junior, all the way through expert-level.</p>
            <div class="app_stores">
                <img src="{% static 'images/apple-store.svg'%}" alt="">
                <img src="{% static 'images/google-play.svg' %}" alt="">
            </div>
        </div>
        <div class="youtube-intro">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QCw4RiWQA_E" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section class="app_process">
    <div class="talent_processing">
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/check.png' %}" alt="">
                <h3>Submit an Application</h3>
            </div>
            <p>Sign up and fill out an application with basic details like photo, job title, and location. Showcase your best self by sharing your skill sets, CV, and language proficiencies.</p>
        </div>
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/user.png' %}" alt="">
                <h3>Complete your profile</h3>
            </div>
            <p>Set your own rates and hours; add a professional statement, detailed work experience, educational background, and references. Your profile information will be used in the screening process.</p>
        </div>
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/exam.png' %}" alt="">
                <h3>Ace your tests and profile review</h3>
            </div>
            <p>All talents must meet rigorous standards for expertise, validated by testing and screening. Timed tests will help us assess your technical expertise and English language skills. </p>
        </div>
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/people.png' %}" alt="">
                <h3>Get onboarded</h3>
            </div>
            <p>Review orientation materials and attend an onboarding webinar. Unlock all features of the Gebeya Talent community including how-to blogs, exclusive webinars, and exciting announcements.</p>
        </div>
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/match.png' %}" alt="">
                <h3>Get matched</h3>
            </div>
            <p>
                Your profile information will determine your eligibility for projects and will also be shared with prospective clients, so it should be up-to-date and error-free. Our system will automatically match you with projects that fit your profile and rate.</p>
        </div>
        <div class="process_box">
            <div class="process_title">
                <img src="{% static 'images/connect.png' %}" alt="">
                <h3>Connect with clients</h3>
            </div>
            <p>
                After reviewing the project you’ve been matched with, you can accept or decline it. If the client chooses to interview and hire you, you will be asked to sign a contract and get to work.</p>
        </div>

    </div>
</section>

<section class="service">
    <div class="service-links">
        <div class="work">
            <h2><i class="fa-sharp fa-solid fa-magnifying-glass"></i> find work</h2>
            <ul>
                <li>
                    <a href="">download think tech app</a>
                </li>
                <li>
                    <a href="">join as a partner</a>
                </li>
                <li>
                    <a href="{% url 'how_it_works' %}">how it works</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
            </ul>
        </div>
        <div class="hire">
            <h2><i class="fa-solid fa-handshake"></i> hire</h2>
            <ul>
                <li>
                    <a href="{% url 'how_it_works' %}">how it works</a>
                </li>
                <li>
                    <a href="">find freelancers</a>
                </li>
                <li>
                    <a href="">hire a company</a>
                </li>
                <li>
                    <a href="">sign up</a>
                </li>
            </ul>
        </div>
        <div class="think-tech">
            <h2><i class="fa-solid fa-building"></i> think tech</h2>
            <ul>
                <li>
                    <a href="{% url 'about' %}">about us</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contact us</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">news</a>
                </li>
                <li>
                    <a href="{% url 'careers' %}">careers</a>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}