{% extends "base.html "%}{% load static %}{% block content %}

<section class="showcase">
    <div class="showcase-content">
        <div class="showcase-title">
            <h1>we turn your <span>dreams</span> into a <span class="reality">reality</span>.</h1>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam nisi maxime exercitationem inventore tenetur impedit? Iure.</h3>
            <div class="btn">hire a tech</div>
        </div>
        <!-- <div class="showcase-img"> -->
        <img src="{% static 'images/showcase.png' %}" alt="">
        <!-- </div> -->
    </div>
</section>

<section class="brands">
    <div class="carousel">
        <h1>trusted partners</h1>
        <div class="carousel-container">
            <!-- <button class="carousel-prev">&#10094;</button> -->
            <div class="carousel-slide">
                <img src="{% static 'images/flutter.svg' %}" alt="Image 1">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/iroko.svg' %}" alt="Image 2">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/tek-air.svg '%}" alt="Image 3">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/javascript-1.svg' %}" alt="Image 4">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/food-network-1.svg' %}" alt="Image 5">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/air-france-11.svg' %}" alt="Image 6">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/premier-league-1.svg' %}" alt="Image 7">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/le-point.svg' %}" alt="Image 8">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/comcast-1.svg' %}" alt="Image 9">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/access-point.svg' %}" alt="Image 10">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/vengrowth.svg' %}" alt="Image 11">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/stormont-hotel.svg' %}" alt="Image 12">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/rosenthal-classic.svg' %}" alt="Image 13">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/bwt-racing-point-logo-1.svg' %}" alt="Image 14">
            </div>
            <div class="carousel-slide">
                <img src="{% static 'images/experts-exchange-3.svg' %}" alt="Image 15">
            </div>
            <!-- <button class="carousel-next">&#10095;</button> -->
        </div>


    </div>
</section>


<section class="service">
    <div class="service-links">
        <div class="work">
            <h2><i class="fa-sharp fa-solid fa-magnifying-glass"></i> find work</h2>
            <ul>
                <li>
                    <a href="">download think tech app</a>
                </li>
                <li>
                    <a href="">join as a partner</a>
                </li>
                <li>
                    <a href="{% url 'how_it_works' %}">how it works</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
            </ul>
        </div>
        <div class="hire">
            <h2><i class="fa-solid fa-handshake"></i> hire</h2>
            <ul>
                <li>
                    <a href="{% url 'how_it_works' %}">how it works</a>
                </li>
                <li>
                    <a href="">find freelancers</a>
                </li>
                <li>
                    <a href="">hire a company</a>
                </li>
                <li>
                    <a href="">sign up</a>
                </li>
            </ul>
        </div>
        <div class="think-tech">
            <h2><i class="fa-solid fa-building"></i> think tech</h2>
            <ul>
                <li>
                    <a href="{% url 'about' %}">about us</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">contact us</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">news</a>
                </li>
                <li>
                    <a href="{% url 'careers' %}">careers</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}