{% extends "base.html"%}{% load static %}{% block content %}

<section class="talent-container">
    <div class="talent_slide">
        <h1>why choose think tech marketplace</h1>
        <div class="carousel-container">
            <!-- <button class="carousel-prev">&#10094;</button> -->
            <div class="carousel-slide">
                <h2>An Expert Team, Invested in Your Success</h2>
                <p>Think Tech is a platform powered by talent, supported by an expert team from across Africa. Backed by four years of on-the-ground experience across the continent, we’re committed to delivering solutions that will elevate your business
                    to its full potential.</p>
            </div>
            <div class="carousel-slide">
                <h2>Multilingual, Multinational, Multiskilled</h2>
                <p>Our talent and team are experienced in serving a global clientele. Therefore, effective communication is at the core of our priorities. Choose if you’d like to work with talent in French, Kiswahili, or Amharic. All are tested and vetted
                    for English.</p>
            </div>
            <div class="carousel-slide">
                <h2>Competitive Pricing, Superior Performance</h2>
                <p>Whether you’re a solo entrepreneur, a lean startup team, or a multinational corporation, we have solutions to cater to every budget. We never compromise quality for cost, and are committed to delivering our best. Your success is our pride.</p>
            </div>
            <div class="carousel-slide">
                <h2>Think Tech Guarantee</h2>
                <p>Encounter issues? Your dedicated Account Representative will resolve them promptly. We will replace a talent if you’re not fully satisfied with their performance. Our customers return to us, year after year. Let us be your one-stop talent
                    solution.
                </p>
            </div>
            <!-- <button class="carousel-next">&#10095;</button> -->
        </div>

        <!-- <div class="slideshow">
            <div class="t_slides">
                <h2>An Expert Team, Invested in Your Success</h2>
                <p>Think Teck is a platform powered by talent, supported by an expert team from across Africa. Backed by four years of on-the-ground experience across the continent, we’re committed to delivering solutions that will elevate your business
                    to its full potential.</p>
            </div>
            <div class="t_slides">
                <h2>Multilingual, Multinational, Multiskilled</h2>
                <p>Our talent and team are experienced in serving a global clientele. Therefore, effective communication is at the core of our priorities. Choose if you’d like to work with talent in French, Kiswahili, or Amharic. All are tested and vetted
                    for English.</p>
            </div>
            <div class="t_slides">
                <h2>Competitive Pricing, Superior Performance</h2>
                <p>Whether you’re a solo entrepreneur, a lean startup team, or a multinational corporation, we have solutions to cater to every budget. We never compromise quality for cost, and are committed to delivering our best. Your success is our pride.</p>
            </div>
            <div class="t_slides">
                <h2>Think Tech Guarantee</h2>
                <p>Encounter issues? Your dedicated Account Representative will resolve them promptly. We will replace a talent if you’re not fully satisfied with their performance. Our customers return to us, year after year. Let us be your one-stop talent
                    solution.
                </p>
            </div>

        </div> -->
    </div>
    <div class="talent_join">
        <h2>i am looking for...</h2>
        <div class="talent-box">
            <div class="box">
                <i class="fa-solid fa-computer"></i>
                <h3>tech related jobs</h3>
            </div>
        </div>
        <p>Already have an account? <span>Log in</span></p>
    </div>
</section>

{% endblock %}