* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeee;
    font-family: 'poppins', sans-serif;
}

nav {
    background-color: #fff;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 2px #888888;
}

.navlinks {
    height: 100px;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 50px;
    text-transform: capitalize;
}

h2 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

.navlinks .logo {
    line-height: 100px;
}

.navlinks .logo img {
    width: 100px;
    height: 100px;
}

.navlinks ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 100px;
}

.navlinks li {
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    display: block;
}

.navlinks li:hover {
    color: rgb(0, 136, 255);
}

.navlinks li a {
    color: inherit;
}

.navlinks .btn {
    background-color: rgb(0, 136, 255);
    padding: 10px 20px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}

.navlinks .btn:hover {
    background-color: transparent;
    border: 1px solid #444;
    color: gray;
}


/* SHOWCASE */

section .showcase {
    height: 600px;
}

.showcase-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

section .showcase-title {
    width: 600px;
    align-items: center;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.showcase-title h1 span {
    color: rgb(0, 136, 255);
}

.showcase-title h1 .reality {
    color: inherit;
    text-decoration: underline;
    font-style: italic;
}

.showcase-title .btn {
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: rgb(0, 136, 255);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.showcase-title .btn:hover {
    background-color: transparent;
    border: 1px solid #444;
    color: gray;
}

img {
    width: 500px;
    height: 500px;
}


/* CARROUSEL */

.brands {
    background-color: #fff;
    padding: 0 0 20px;
    box-shadow: 2px 0 #888888;
}

.carousel {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel h1 {
    text-align: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 25%;
    max-width: 15%;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 80PX;
    height: 80PX;
    filter: grayscale(100%);
}

.carousel-slide img:hover {
    filter: grayscale(0);
}


/* .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
} */


/* .carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
} */


/* SERVICE */

.service-links {
    padding: 40px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.service-links li {
    padding: 10px 0;
}

.service-links li a {
    text-transform: capitalize;
    color: inherit;
    opacity: 0.5;
    font-weight: 300;
    font-size: 15px;
}

.service-links li a:hover {
    opacity: 1;
}


/* STARTUP */

.hire-container {
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}

.hire-box h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
}

.search-form {
    display: flex;
}

.search-input {
    padding: 10px;
    width: 100%;
}

.search-button {
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 3px;
    width: 80px;
    background-color: rgb(0, 136, 255);
    border: none;
    cursor: pointer;
    color: #fff;
}

.search-button:hover {
    background-color: transparent;
    border: 1px solid #444;
    color: gray;
}


/* SEARCH-HIRE */

.search-hire {
    background-color: #fff;
    padding: 10px;
}

.search-intro {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.search-intro p {
    font-size: 15px;
    font-weight: 300;
}

.intro {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.intro h1 {
    line-height: 1.1;
    margin-bottom: 10px;
}

.intro li {
    list-style-type: square;
    font-size: 15px;
    font-weight: 300;
    margin-left: 50px;
}

.intro button {
    width: 150px;
    padding: 10px;
    background-color: rgb(0, 136, 255);
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.intro button a {
    color: #fff;
    font-size: 16px;
}

.intro button:hover {
    background-color: transparent;
    border: 1px solid #444;
    color: gray;
}

.intro button a:hover {
    background-color: transparent;
    color: gray;
}

.find-intro {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1200px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.find-intro h1 {
    line-height: 1.1;
    margin-bottom: 10px;
}

.find p {
    font-size: 15px;
    font-weight: 300;
}

.find h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
}

.youtube-intro {
    margin-top: 30px;
}

.process {
    background-color: #fff;
}

.hire-process {
    width: 1200px;
    margin: 30px auto;
    background-color: #fff;
    padding: 10px 0 30px;
    border-radius: 3px;
}

.process-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hire-process h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
}

.process-box .box h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(0, 136, 255);
}

.process-box .box p {
    font-size: 15px;
    font-weight: 300;
}

.process-box .box h3 i {
    background-color: rgb(0, 136, 255);
    padding: 15px;
    border-radius: 50%;
    color: #fff;
}


/* CONTACT */

.address {
    width: 1200px;
    margin: 20px auto;
}

.address .contact-intro {
    text-align: center;
}

.address .contact-intro h3 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
}

.address .contact-intro p {
    width: 600px;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
}

.address-box {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.address-box .add-box {
    background-color: #ededed;
    box-shadow: 1px 1px 2px #888888;
    padding: 30px;
    border-radius: 4px;
}

.address-box .add-box h3 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.address-box .add-box p {
    font-size: 14px;
    font-weight: 300;
}

.address .add-box .box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.address .add-box .box i {
    color: rgb(0, 136, 255);
    font-size: 26px;
}

.contact-form {
    background-color: #fff;
    padding: 30px 0;
}

.form-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


/* form {
    max-width: 700px;
    margin: 0 auto;
} */

.form h2 {
    font-size: 26px;
    font-weight: 700;
}

label {
    display: block;
    font-weight: 400;
    margin-top: 10px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

input[type="submit"]:hover {
    background-color: transparent;
    color: gray;
    border: 1px solid #444;
}


/* FOOTER */

footer {
    background-color: #fff;
}

.footer-container {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

.footer-container img {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.other-links {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    line-height: 100px;
}

.other-links li a {
    text-transform: uppercase;
    color: inherit;
    font-weight: 300;
    font-size: 15px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    line-height: 100px;
}

.social-links li a i {
    box-shadow: 2px 1px 2px 1px #c4c4c4;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 15px;
    filter: grayscale(100%);
}

.social-links li a i:hover {
    filter: grayscale(0);
    color: rgb(0, 136, 255);
}

.social-links li a {
    font-size: 22px;
}

.other-links li:hover {
    color: rgb(0, 136, 255);
}

.copy {
    text-align: center;
    padding: 10px 0;
    text-transform: capitalize;
    font-weight: 300;
}